:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: only light;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
}

#root {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.tu {
    display: flex;
    flex-direction: row;
    gap: 0 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.chu {
    display: flex;
    flex-direction: row;
    font-size: 80px;
    cursor: pointer;
}

.nhieu-mau .phu-am-truoc {
    color: darkblue;
}

.nhieu-mau .nguyen-am-chinh {
    color: indianred;
}

.nhieu-mau .nguyen-am-phu {
    color: orange;
}

.nhieu-mau .phu-am-sau {
    color: darkgreen;
}